In [1]:
import os
import pandas as pd
from kernels.wrapper import MODELS, KernelModelWrapper
from dataset.ipc2023_learning_domain_info import IPC2023_LEARNING_DOMAINS, get_test_ipc2023_learning_instance_files, get_best_bound
from itertools import product
from IPython.display import display, HTML
from util.scrape_log import scrape_search_log

In [2]:
_LOG_DIR = "logs/test_ipc2023"

_ITERATIONS = [1]
_MODELS = ["linear-regression", "linear-svr", "ridge", "lasso"]
CONFIGS = list(product(_MODELS, _ITERATIONS))

In [9]:
def get_data(domain):
  data = {
  }

  test_files = get_test_ipc2023_learning_instance_files()

  for config in CONFIGS:
    d = {
      "solved": [],
      "expanded": [],
      "cost": [],
      "first_h": [],
      "quality": [],
    }
    model, iterations = config

    for df, pf in test_files[domain]:
      difficulty = "easy"
      if not difficulty in pf:  # TODO generalise
        continue
      pf_name = os.path.basename(pf).replace(".pddl", "")
      log_file = f"{_LOG_DIR}/{domain}_{difficulty}_{pf_name}_trained_models_kernel-{model}_llg_ipc2023-learning-{domain}_wl_{iterations}.joblib.log"
      
      if not os.path.exists(log_file):
        continue


      stats = scrape_search_log(log_file)
      for k in d:
        if k in stats:
          d[k].append(stats[k])
      
      c = stats["cost"]
      c_opt = get_best_bound(domain, difficulty, pf_name)
      quality = c_opt / c
      quality = max(quality, 0)
      d["quality"].append(quality)
      
    data[config] = d

  return data

In [10]:
def get_metrics_df(data):
  d = {
    "config": [],
    "solved": [],
    "quality": [],
  }
  for config in CONFIGS:
    d["config"].append(config)
    d["solved"].append(sum(data[config]["solved"]))
    d["quality"].append(sum(data[config]["quality"]))
  return pd.DataFrame(d)

In [11]:
for domain in IPC2023_LEARNING_DOMAINS:
  print(domain)
  data = get_data(domain)
  display(get_metrics_df(data))

blocksworld

                   config  solved    quality
0  (linear-regression, 1)       6   5.266234
1         (linear-svr, 1)      27  17.795516
2              (ridge, 1)      28  16.308289
3              (lasso, 1)      30  18.951603

childsnack

                   config  solved    quality
0  (linear-regression, 1)       9   8.458626
1         (linear-svr, 1)      10  10.000000
2              (ridge, 1)      10  10.000000
3              (lasso, 1)       8   8.000000

ferry

                   config  solved    quality
0  (linear-regression, 1)      24  24.413425
1         (linear-svr, 1)      30  30.882366
2              (ridge, 1)      30  30.526105
3              (lasso, 1)      30  30.526105

floortile

                   config  solved   quality
0  (linear-regression, 1)       1  1.000000
1         (linear-svr, 1)       1  0.866667
2              (ridge, 1)       2  1.823308
3              (lasso, 1)       2  2.000000

miconic

                   config  solved    quality
0  (linear-regression, 1)      30  29.154460
1         (linear-svr, 1)      30  28.816517
2              (ridge, 1)      30  28.916675
3              (lasso, 1)      30  28.724600

rovers

                   config  solved    quality
0  (linear-regression, 1)      10   9.305714
1         (linear-svr, 1)      25  17.347795
2              (ridge, 1)      28  21.992733
3              (lasso, 1)      19  18.421974

satellite

                   config  solved    quality
0  (linear-regression, 1)      10  10.000000
1         (linear-svr, 1)      14   4.105786
2              (ridge, 1)      11   4.796391
3              (lasso, 1)      11  10.222222

sokoban

                   config  solved    quality
0  (linear-regression, 1)      23  21.825028
1         (linear-svr, 1)      30  26.872582
2              (ridge, 1)      30  27.553958
3              (lasso, 1)      30  27.553958

spanner

                   config  solved    quality
0  (linear-regression, 1)      30  25.917509
1         (linear-svr, 1)      30  25.917509
2              (ridge, 1)      30  30.000000
3              (lasso, 1)      30  30.000000

transport

                   config  solved    quality
0  (linear-regression, 1)       8   7.240196
1         (linear-svr, 1)      29  22.758728
2              (ridge, 1)      30  33.136201
3              (lasso, 1)      30  33.136201