In [5]:
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import pandas as pd

from IPython.display import display, HTML
from representation import REPRESENTATIONS
from dataset import GOOSE_DOMAINS

In [6]:
# collect stats from the logs/select directory
def display_val_stats(train_type, L, H, p):
  d = {
    "graph": [],
    "domain": [],
    "solved": [],
    "median_expansions": [],
    "median_runtime": [],
    "avg_loss": [],
    "train_time": [],
  }
  log_dir = "logs/select"
  for rep in REPRESENTATIONS:
    for domain in GOOSE_DOMAINS:
      try:
        tmp = {}
        tmp["graph"] = rep
        tmp["domain"] = domain
        f = f'{log_dir}/{train_type}_{rep}_{domain}_L{L}_H{H}_p{p}_r0.log'
        for line in open(f, 'r').readlines():
          toks = line.replace(":","").split()
          for key in d:
            if key==toks[0]:
              val = int(float(toks[1])) if key in key in {"solved", "median_expansions"} else float(toks[1])
              tmp[key] = val
              break
        for key in d:
          d[key].append(tmp[key])
      except:
        pass
  df = pd.DataFrame(d)
  for domain in GOOSE_DOMAINS:
    df_domain = df[df.domain==domain]
    display(df_domain)
  return

In [7]:
train_type = "dd"
L = 8
H = 64
p = 10
display_val_stats(train_type, L, H, p)

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
0,sdg-el,gripper,1,35,1.37530,0.259106,24.4
8,fdg-el,gripper,1,34,1.30977,0.292385,29.0
16,ldg-el,gripper,1,59,4.83506,0.377847,31.0
24,gdg-el,gripper,1,36,3.63644,0.386116,26.1

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
1,sdg-el,n-puzzle,3,14043,242.917,0.630699,11879.0
9,fdg-el,n-puzzle,3,26182,439.815,8.311318,4123.9
17,ldg-el,n-puzzle,0,-1,-1.000,43.859114,622.4
25,gdg-el,n-puzzle,2,14948,302.837,6.887530,7498.0

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
2,sdg-el,spanner,2,31,2.27224,0.011699,174.6
10,fdg-el,spanner,2,31,2.12024,0.004156,445.4
18,ldg-el,spanner,3,31,1.97253,0.320494,256.0
26,gdg-el,spanner,3,31,1.82246,0.008215,341.4

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
3,sdg-el,visitsome,3,192,3.34963,0.315216,1440.9
11,fdg-el,visitsome,3,72,1.90554,1.000903,449.3
19,ldg-el,visitsome,3,300,4.09236,2.778831,242.3
27,gdg-el,visitsome,3,239,3.53708,0.669869,1281.1

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
4,sdg-el,visitall,3,208,3.28845,0.054551,874.6
12,fdg-el,visitall,3,278,3.46602,0.037340,1075.1
20,ldg-el,visitall,3,361,4.40665,0.018378,305.5
28,gdg-el,visitall,3,276,3.90323,0.171964,865.8

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
5,sdg-el,blocks,3,251,2.83810,3.462548,179.0
13,fdg-el,blocks,3,37,1.93494,3.067768,523.2
21,ldg-el,blocks,3,34,1.46860,0.439569,154.8
29,gdg-el,blocks,3,325,3.63112,3.535528,152.6

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
6,sdg-el,ferry,3,38,1.80681,0.004147,1225.8
14,fdg-el,ferry,3,51,1.98848,0.473969,776.0
22,ldg-el,ferry,3,55,1.86411,0.033888,449.0
30,gdg-el,ferry,3,52,1.91053,0.434572,418.8

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
7,sdg-el,sokoban,3,238,2.79744,0.338963,2227.2
15,fdg-el,sokoban,3,537,4.90974,0.112705,3800.2
23,ldg-el,sokoban,3,1965,18.16870,26.803926,401.3
31,gdg-el,sokoban,3,119,1.90363,0.318363,1675.7

In [8]:
train_type = "dd"
L = 16
H = 64
p = 10
display_val_stats(train_type, L, H, p)

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
0,sdg-el,gripper,1,39,2.31504,0.539689,68.2
7,fdg-el,gripper,1,34,1.55372,0.390885,78.2
14,ldg-el,gripper,1,50,2.47241,0.363865,34.8
22,gdg-el,gripper,1,40,2.21395,0.525249,178.0

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
15,ldg-el,n-puzzle,0,-1,-1.0,43.705434,1155.3

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
1,sdg-el,spanner,1,-1,-1.00000,0.107215,422.2
8,fdg-el,spanner,0,-1,-1.00000,0.017135,1155.3
16,ldg-el,spanner,3,31,2.20318,0.308380,712.0
23,gdg-el,spanner,1,-1,-1.00000,0.152234,318.8

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
2,sdg-el,visitsome,3,60,2.40021,0.523135,1709.5
9,fdg-el,visitsome,3,110,2.80851,1.794289,1491.3
17,ldg-el,visitsome,3,520,9.33912,2.559464,632.1
24,gdg-el,visitsome,3,37950,563.90800,2.403474,1905.6

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
3,sdg-el,visitall,3,213,4.09490,0.222247,878.2
10,fdg-el,visitall,3,297,5.31218,0.085777,2241.6
18,ldg-el,visitall,3,361,6.36291,0.018645,477.0
25,gdg-el,visitall,3,261,5.22655,0.120711,2354.7

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
4,sdg-el,blocks,3,38,2.27628,1.428727,404.4
11,fdg-el,blocks,3,251,5.13802,3.519607,1260.4
19,ldg-el,blocks,3,34,1.96118,0.670682,93.2
26,gdg-el,blocks,0,-1,-1.00000,29.759386,314.5

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
5,sdg-el,ferry,3,49,2.51622,0.462105,824.0
12,fdg-el,ferry,3,49,2.29109,0.539038,1823.4
20,ldg-el,ferry,3,38,1.66203,0.001694,1168.0
27,gdg-el,ferry,3,96,3.04178,0.732305,1460.7

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
6,sdg-el,sokoban,3,5672,55.3282,0.658637,4876.8
13,fdg-el,sokoban,3,3747,34.9043,3.858110,5279.8
21,ldg-el,sokoban,3,1965,25.9253,28.405714,658.9