In [5]:
from util.visualise import *

In [6]:
train_type = "dd"
L = 8
H = 64
aggr = "mean"
p = 10
display_val_stats(train_type, L, H, aggr, p)

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
0,sdg-el,gripper,1,42,0.418397,0.264868,21.1
8,fdg-el,gripper,1,34,0.348782,0.262678,28.4
16,ldg-el,gripper,1,59,1.855340,0.453019,21.9

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
1,sdg-el,spanner,0,-1,-1.00000,0.000495,357.1
9,fdg-el,spanner,0,-1,-1.00000,0.001773,213.9
17,ldg-el,spanner,3,31,2.26994,0.298499,281.1

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
2,sdg-el,visitall,3,190,1.85112,0.011330,446.9
10,fdg-el,visitall,3,148,1.61076,0.012543,365.4
18,ldg-el,visitall,3,361,6.82968,0.018351,133.2

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
3,sdg-el,visitsome,3,64,0.555810,0.269857,238.2
11,fdg-el,visitsome,3,54,0.495697,0.654492,139.4
19,ldg-el,visitsome,3,249,6.189560,2.828534,165.4

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
4,sdg-el,blocks,0,-1,-1.00000,32.699534,36.5
12,fdg-el,blocks,3,601,5.53677,1.368868,225.2
20,ldg-el,blocks,3,34,2.12712,0.580689,142.4

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
5,sdg-el,ferry,3,46,0.42778,0.001453,608.7
13,fdg-el,ferry,3,155,1.13129,0.420638,329.9
21,ldg-el,ferry,3,38,2.19677,0.002014,581.1

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
6,sdg-el,sokoban,3,3312,22.83970,0.125306,342.5
14,fdg-el,sokoban,3,375,2.94212,0.076293,380.4
22,ldg-el,sokoban,3,1965,30.42490,27.026163,450.3

,graph,domain,solved,median_expansions,median_runtime,avg_loss,train_time
7,sdg-el,n-puzzle,3,8314,74.0094,0.844676,945.6
15,fdg-el,n-puzzle,3,6095,58.7857,0.684212,856.9
23,ldg-el,n-puzzle,0,-1,-1.0000,43.658321,469.2