In [1]:
from util.visualise import *

In [2]:
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
normalise = 1
combine = normalise

for h in ["blind", "hff", "lama-first"]:
  print(h)
  if combine:
    df = collect_test_stats_planner(h, normalise)
    df = df.drop(columns=["expanded", "cost", "time"]).sum()
    print(f"{df.at['solved']:.2f}")
  else:
    for domain in sorted(GOOSE_DOMAINS):
      print(domain)
      df = collect_test_stats_planner(h, normalise, domain)
      df = df.drop(columns=["expanded", "cost", "time"]).sum()
      print(f"{df.at['solved']:.2f}")

blind
0.91
hff
4.29
lama-first
6.68

In [4]:
Ls = [4,8,12,16]
aggrs = ["mean", "max"]
graphs = ["sdg-el", "fdg-el", "ldg-el"]
to_tex = {"sdg-el": r"\slg", "fdg-el":r"\flg", "ldg-el":r"\llg"}

In [5]:
def limer(train_type, H, p, normalise, combine, get_max):
  if combine:
    df = collect_param_test_stats(train_type, Ls, aggrs, H, p, graphs, normalise)
    if get_max: 
      df = get_max_of_parameters(df)
    display(df)
    return df
  else:
    for domain in sorted(GOOSE_DOMAINS):
      print(domain)
      df = collect_param_test_stats(train_type, Ls, aggrs, H, p, graphs, normalise, domain)
      if get_max: 
        df = get_max_of_parameters(df)
      display(df)
  return

In [6]:
train_type = "dd"
H = 64
p = 10

normalise = 1
combine   = normalise
get_max   = 0

dd_df = limer(train_type, H, p, normalise, combine, get_max)

   aggr   L  sdg-el  fdg-el  ldg-el
0  mean   4    2.67    2.71    3.42
1  mean   8    2.71    2.28    3.81
2  mean  12    2.37    1.98    3.53
3  mean  16    1.88    1.59    3.16
4   max   4    2.98    2.46    3.59
5   max   8    2.57    2.04    2.74
6   max  12    2.34    2.04    2.90
7   max  16    2.51    1.85    2.92

In [7]:
train_type = "di"
H = 64
p = 20

normalise = 1
combine   = normalise
get_max   = 0

di_df = limer(train_type, H, p, normalise, combine, get_max)

   aggr   L  sdg-el  fdg-el  ldg-el
0  mean   4    1.49    0.93    1.51
1  mean   8    2.30    2.18    0.47
2  mean  12    2.43    2.15    0.72
3  mean  16    2.14    1.77    0.50
4   max   4    2.04    1.45    1.76
5   max   8    2.08    1.58    1.40
6   max  12    0.66    1.25    1.17
7   max  16    0.19    1.25    1.29

In [12]:
PAPER_DIR = str(Path.home())+"/papers/24-aaai-goose/paper"

ret  = r"\begin{tabular}{c c c c c c c c c} \toprule & & \multicolumn{3}{c}{domain-dep.} & \multicolumn{3}{c}{domain-ind.} \\ \midrule aggr. & L & "

for _ in range(2):
  for config in graphs:
    ret += '\\header{' + to_tex[config] + '} & '
ret = ret[0:len(ret) - 2]
ret += r"\\ \midrule" + '\n'

# \multirow{4}{*}{max} 
# & 4  & 2.71	2.67 3.42 \\
# & 8  & \\
# & 12 & \\
# & 16 & \\
# \multirow{4}{*}{mean} 
# & 4  & \\
# & 8  & \\
# & 12 & \\
# & 16 & \\

dd_df_np = dd_df.to_numpy()
di_df_np = di_df.to_numpy()

ret += r"\multirow{4}{*}{max} " + '\n'
for i, L in enumerate([4,8,12,16]):
  ret += f"& {L} "
  for num in dd_df_np[i][2:]:
    ret += f"& {num:.2f} "
  for num in di_df_np[i][2:]:
    ret += f"& {num:.2f} "
  ret += r"\\ "

ret += r"\midrule \multirow{4}{*}{mean} " + '\n'
for i, L in enumerate([4,8,12,16]):
  ret += f"& {L} "
  for num in dd_df_np[i+4][2:]:
    ret += f"& {num:.2f} "
  for num in di_df_np[i+4][2:]:
    ret += f"& {num:.2f} "
  ret += r"\\ "

ret += r"\bottomrule\end{tabular}"

f = open(f"{PAPER_DIR}/tables/parameters.tex", 'w')
f.write(ret)
f.close()

In [9]:
print(dd_df.to_numpy())

[['mean' 4 2.666666666666661 2.708888888888883 3.422222222222216]
 ['mean' 8 2.7111111111111055 2.2777777777777737 3.8111111111111016]
 ['mean' 12 2.366666666666662 1.9799999999999953 3.533333333333326]
 ['mean' 16 1.8777777777777733 1.5866666666666631 3.15555555555555]
 ['max' 4 2.977777777777771 2.4555555555555517 3.5866666666666593]
 ['max' 8 2.5666666666666615 2.0377777777777744 2.744444444444439]
 ['max' 12 2.3355555555555503 2.0377777777777744 2.8999999999999932]
 ['max' 16 2.5133333333333283 1.8488888888888857 2.9222222222222163]]

In [10]:
train_type = "dd"
H = 64
p = 10

normalise = 0
combine   = normalise
get_max   = 0

limer(train_type, H, p, normalise, combine, get_max)

blocks

   aggr   L  sdg-el  fdg-el  ldg-el
0  mean   4      15      10      21
1  mean   8       0       6      41
2  mean  12       0       0      41
3  mean  16       0       0       9
4   max   4      10      11      29
5   max   8      13       7      18
6   max  12      15       6      24
7   max  16       7       9      11

ferry

   aggr   L  sdg-el  fdg-el  ldg-el
0  mean   4      29      23      77
1  mean   8      32      33      90
2  mean  12      38       6      64
3  mean  16       0      10      90
4   max   4      33      33      78
5   max   8      26      21      51
6   max  12      19      23      79
7   max  16      38      23      90

gripper

   aggr   L  sdg-el  fdg-el  ldg-el
0  mean   4       4       5      18
1  mean   8       9       6      18
2  mean  12       7       6      18
3  mean  16       4       0      18
4   max   4       5       9      18
5   max   8       5       8      11
6   max  12       4       8       7
7   max  16       5       6      11

n-puzzle

   aggr   L  sdg-el  fdg-el  ldg-el
0  mean   4      10      11       0
1  mean   8      10      10       0
2  mean  12       5       9       0
3  mean  16       0       6       0
4   max   4      10      10       1
5   max   8      10      13       0
6   max  12       9       8       0
7   max  16       9       8       0

sokoban

   aggr   L  sdg-el  fdg-el  ldg-el
0  mean   4      32      42      30
1  mean   8      31      29      28
2  mean  12      19      13      33
3  mean  16      44      32      23
4   max   4      52      56      30
5   max   8      39      57      29
6   max  12      48      57      27
7   max  16      42      51      23

spanner

   aggr   L  sdg-el  fdg-el  ldg-el
0  mean   4       0       0      50
1  mean   8       0       0      55
2  mean  12       0       0      54
3  mean  16       0       0      35
4   max   4       0       0      55
5   max   8       0       0      55
6   max  12       0       0      58
7   max  16       0       0      50

visitall

   aggr   L  sdg-el  fdg-el  ldg-el
0  mean   4      53      50      39
1  mean   8      46      50      37
2  mean  12      37      46      35
3  mean  16      34      24      35
4   max   4      52      35      36
5   max   8      37      15      36
6   max  12      24      18      38
7   max  16      38      10      33

visitsome

   aggr   L  sdg-el  fdg-el  ldg-el
0  mean   4      73      74       1
1  mean   8      72      39       2
2  mean  12      75      67       1
3  mean  16      71      66       2
4   max   4      78      23       3
5   max   8      73      20       3
6   max  12      68      25       0
7   max  16      60      29       1