In [1]:
from util.visualise import *

In [2]:
train_type = "dd"
L = 8
H = 64
aggr = "mean"
p = 10
display_solved_test_stats(train_type, L, H, aggr, p)

gripper

        solved  expanded         time  cost
graph
fdg-el       6      7990    78.915568   617
ldg-el      18     22973   602.851720  3096
sdg-el       9    128887  1234.304135  1214

spanner

        solved  expanded        time  cost
graph
fdg-el       0        -5    -5.00000    -5
ldg-el      55      6373  8461.76638  5900
sdg-el       0        -5    -5.00000    -5

visitall

        solved  expanded        time   cost
graph
fdg-el      50    140079  8810.82203  83396
ldg-el      37    139475  5694.00210  50751
sdg-el      46    129600  6759.05951  71024

visitsome

        solved  expanded         time   cost
graph
fdg-el      39    205151   3748.70125  21241
ldg-el       2     24255    491.02300    281
sdg-el      72    420926  10901.15371  86167

blocks

        solved  expanded       time  cost
graph
fdg-el       6     67349   632.9509   851
ldg-el      41     99928  4401.5344  4418
sdg-el       0        -5    -5.0000    -5

ferry

        solved  expanded        time   cost
graph
fdg-el      33    311844  4245.26079   3443
ldg-el      90     30792  2656.83425  17982
sdg-el      32    189570  1984.28851   3317

sokoban

        solved  expanded      time  cost
graph
fdg-el       9    339000  2435.816   539
ldg-el       9    134118  1858.663   407
sdg-el       9    242867  1708.814   659

n-puzzle

        solved  expanded       time  cost
graph
fdg-el      10    182199  1704.2853  4912
ldg-el       0        -5    -5.0000    -5
sdg-el      10     65679   588.1147  4178