In [22]:
from util.visualise import *

In [23]:
pd.options.display.float_format = '{:,.2f}'.format

In [24]:
df = collect_test_stats_planner("lama-first")
df = df.drop(columns=["expanded", "cost", "time"]).groupby("domain").sum()
display(df)

           solved
domain
blocks         85
ferry          90
gripper        18
n-puzzle       40
sokoban        86
spanner         0
visitall       88
visitsome      90

In [25]:
df = collect_test_stats_planner("hff")
df = df.drop(columns=["expanded", "cost", "time"]).groupby("domain").sum()
display(df)

           solved
domain
blocks         85
ferry          90
gripper        18
n-puzzle       40
sokoban        86
spanner         0
visitall       85
visitsome      90

In [26]:
Ls = [4,8,12,16]
aggrs = ["mean", "max"]
graphs = ["fdg-el", "sdg-el", "ldg-el"]

In [27]:
def limer(train_type, H, p, normalise, combine, get_max):
  if combine:
    df = collect_param_test_stats(train_type, Ls, aggrs, H, p, graphs, normalise)
    if get_max: 
      df = get_max_of_parameters(df)
    display(df)
  else:
    for domain in sorted(GOOSE_DOMAINS):
      print(domain)
      df = collect_param_test_stats(train_type, Ls, aggrs, H, p, graphs, normalise, domain)
      if get_max: 
        df = get_max_of_parameters(df)
      display(df)
  return

In [28]:
train_type = "dd"
H = 64
p = 10

# train_type = "di"
# H = 64
# p = 20

normalise = 1
combine   = 1
get_max   = 0

limer(train_type, H, p, normalise, combine, get_max)

   aggr   L  fdg-el  sdg-el  ldg-el
0  mean   4    4.30    4.32    4.72
1  mean   8    3.46    4.00    5.42
2  mean  12    0.00    0.00    0.00
3  mean  16    0.00    0.00    0.00
4   max   4    1.50    2.28    4.58
5   max   8    1.84    3.34    3.66
6   max  12    0.00    0.00    0.00
7   max  16    0.00    0.00    0.00