In [1]:
from data.helper import *

In [2]:
DF = get_train_df()

100%|██████████| 40/40 [00:00<00:00, 12096.92it/s]

In [ ]:
metric = "n_colours"
df = DF.copy()
df = df[df.iterations == "4"]
df = df[df.completed]
df = df[df["optimiser"].isin({"svr", "rank-svm"})]
# combine rows with same pruning, optimiser and iterations
df = df.groupby(["pruning", "optimiser", "domain"]).max().reset_index()
df = df[["pruning", "optimiser", "domain", metric]]
# pivot table
df = df.pivot_table(index=["optimiser", "pruning"], values=metric, columns="domain")
# make entries int2
df = df.fillna(0)
df = df.astype(int)
display(df)

domain                    blocksworld  childsnack  ferry  floortile  miconic  \
optimiser pruning
rank-svm  collapse-layer         3576          92    213       2258       24
          none                  22835         259   4394          0      108
svr       collapse-layer         1770          82    199        753       24
          none                  10444         251   3228       7616      108

domain                    rovers  satellite  sokoban  spanner  transport
optimiser pruning
rank-svm  collapse-layer       0          0       26      102       3125
          none                 0          0      114      374       8932
svr       collapse-layer    4579       5934       26       99       1291
          none             23202      22155      110      350       3787

In [4]:
for domain in DOMAINS:
    df = DF.copy()
    print(domain)
    df = df[df["domain"] == domain]
    df = df[df["optimiser"].isin({"svr", "rank-svm"})]
    # combine rows with same pruning, optimiser and iterations
    df = df.groupby(["pruning", "optimiser"]).max().reset_index()
    df = df[["pruning", "optimiser", "n_data"]]
    # pivot table
    df = df.pivot_table(index=["pruning", "optimiser"], values="n_data")
    # make entries int2
    df = df.astype(int)
    df = df.fillna(0)
    display(df)

blocksworld

                          n_data
pruning        optimiser
collapse-layer rank-svm     7703
               svr          1292
none           rank-svm     7703
               svr          1292

childsnack

                          n_data
pruning        optimiser
collapse-layer rank-svm    10334
               svr           473
none           rank-svm    10334
               svr           473

ferry

                          n_data
pruning        optimiser
collapse-layer rank-svm    13719
               svr          1368
none           rank-svm    13719
               svr          1368

floortile

                          n_data
pruning        optimiser
collapse-layer rank-svm    32549
               svr          3187
none           rank-svm       -1
               svr          3187

miconic

                          n_data
pruning        optimiser
collapse-layer rank-svm    24089
               svr          1630
none           rank-svm    24089
               svr          1630

rovers

                          n_data
pruning        optimiser
collapse-layer rank-svm       -1
               svr          1428
none           rank-svm       -1
               svr          1428

satellite

                          n_data
pruning        optimiser
collapse-layer rank-svm       -1
               svr          1158
none           rank-svm       -1
               svr          1158

sokoban

                          n_data
pruning        optimiser
collapse-layer rank-svm    10406
               svr          2422
none           rank-svm    10406
               svr          2422

spanner

                          n_data
pruning        optimiser
collapse-layer rank-svm     4576
               svr          1204
none           rank-svm     4576
               svr          1204

transport

                          n_data
pruning        optimiser
collapse-layer rank-svm    15013
               svr           735
none           rank-svm    15013
               svr           735

In [5]:
for domain in DOMAINS:
    df = DF.copy()
    print(domain)
    df = df[df["domain"] == domain]
    df = df[df["optimiser"].isin({"svr", "rank-svm"})]
    # combine rows with same pruning, optimiser and iterations
    df = df.groupby(["pruning", "optimiser", "iterations"]).max().reset_index()
    df = df[["pruning", "optimiser", "iterations", "n_colours"]]
    # pivot table
    df = df.pivot_table(index=["pruning", "optimiser"], columns="iterations", values="n_colours")
    # make entries int
    df = df.astype(int)
    df = df.fillna(0)
    display(df)

blocksworld

iterations                    4
pruning        optimiser
collapse-layer rank-svm    3576
               svr         1770
none           rank-svm   22835
               svr        10444

childsnack

iterations                  4
pruning        optimiser
collapse-layer rank-svm    92
               svr         82
none           rank-svm   259
               svr        251

ferry

iterations                   4
pruning        optimiser
collapse-layer rank-svm    213
               svr         199
none           rank-svm   4394
               svr        3228

floortile

iterations                    4
pruning        optimiser
collapse-layer rank-svm    2258
               svr          753
none           rank-svm   19824
               svr         7616

miconic

iterations                  4
pruning        optimiser
collapse-layer rank-svm    24
               svr         24
none           rank-svm   108
               svr        108

rovers

iterations                    4
pruning        optimiser
collapse-layer rank-svm   13943
               svr         4579
none           rank-svm   72407
               svr        23202

satellite

iterations                     4
pruning        optimiser
collapse-layer rank-svm       -1
               svr          5934
none           rank-svm   236972
               svr         22155

sokoban

iterations                  4
pruning        optimiser
collapse-layer rank-svm    26
               svr         26
none           rank-svm   114
               svr        110

spanner

iterations                  4
pruning        optimiser
collapse-layer rank-svm   102
               svr         99
none           rank-svm   374
               svr        350

transport

iterations                   4
pruning        optimiser
collapse-layer rank-svm   3125
               svr        1291
none           rank-svm   8932
               svr        3787